<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>breakaway | {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/foundation.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/additionalstyles.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
</head>

<body>
  <!-- Start Top Bar -->
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text" id="menu-font"><a href="index.html"> breakaway</a></li>
        <li class="dropdown shift">
          <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">site navigation</a>
          <div class="dropdown-content" id="myDropdown">
            <a href="about.html">about</a>
            <a href="events.html">events</a>
            <a href="support.html">support</a>
            <a href="organize.html">organize</a>
          </div>
        </li>
        <script>
        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
          if (!e.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var d = 0; d < dropdowns.length; d++) {
              var openDropdown = dropdowns[d];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        </script>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <a href="https://twitter.com/Breakaway_chi/"><i class="fi-social-twitter"></i></a>
      </ul>
    </div>
  </div>
  <!-- End Top Bar -->
  {{ content }}
  <footer class="footer">
    <div class="row">
      <div class="small-12 medium-6 large-5 columns">
        <p class="logo"><a href="index.html"> breakaway</a></p>
        <p class="footer-links">
          <li><a href="about.html">about</a></li>
          <li><a href="events.html">events</a></li>
          <li><a href="support.html">support</a></li>
          <li><a href="organize.html">organize</a></li>
        </p>
      </div>
      <div class="small-12 medium-6 large-4 columns">
        <ul class="contact">
          <li>
            <p><i class="fi-marker"></i> 2306 S Kedzie Chicago, IL 60623</p>
          </li>
          <li>
            <p><i class="fi-mail"></i> breakaway_chi@riseup.net</p>
          </li>
        </ul>
      </div>
      <div class="small-12 medium-12 large-3 columns">
        <p class="about">breakaway</p>
        <p class="about subheader">an autonomous social center, partisan library and cinema</p>
        <ul class="inline-list social">
          <a href="https://twitter.com/Breakaway_chi/"><i class="fi-social-twitter"></i></a>
        </ul>
      </div>
    </div>
  </footer>
  <script>
  $(document).foundation();
  </script>
</body>

</html>
